<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block rounded-circle" src="{{queryUser.image}}" alt="user avatar"
      style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-12 col-md-8 bg-white">
    <p class="font-weight-bold">{{queryUser.name}}</p>
    <p>{{queryUser.email}}</p>
    <p><strong>{{commentNumber}}</strong> 已評論餐廳</p>
    {{#ifCond queryUser.id user.id}}
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    {{/ifCond}}
  </div>
</div>
<br />

<div class="row">
  <div class="col-12 bg-secondary text-white">
    <p class="mb-0 py-2"><strong>{{commentNumber}}</strong> 已評論餐廳</p>
  </div>

  {{#each comments}}
  <div class="col-3 col-md-2 bg-white pt-3">
    <a href="/restaurants/{{this.Restaurant.id}}">
      <img class="img-responsive center-block" src="{{this.Restaurant.image}}" alt="restaurant avatar"
        style="width: 100px;margin-bottom: 25px;margin-right: 10px">
    </a>
  </div>
  <div class="col-9 col-md-4 bg-white pt-3">
    <p>{{this.text}}</p>
  </div>
  {{/each}}
</div>